p {
	font-size: 20px;
}

#meals_container {
	position: relative;
	width: 1210px;
	height:100%;
	padding:30px;
	overflow-y: auto;	
	margin: 0px auto	;
}

.meal-container {
	overflow-y: auto; 
	margin:10px;
	padding:10px;
	float:left;
	background-color:rgba(255,255,255,.6);
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	border:1px solid white;
	-webkit-transition: all .5s linear;
	min-width:360px;
	min-height:150px;
}

.meal-container h2 {
	margin: 5px 0px 0px 0px;
	font-size:25px;
	width: 170px;
}

.meal-container h3 {
	margin: 0px 0px 10px 0px;
	font-size: 12px;
	color: gray;
	display: inline-block;
	overflow-y: auto; 
}

.new-meal-name-input {
	height: 20px;
	margin: 5px 0px
}

.day{
	width: 100%;
	overflow-y: auto;
	margin: 0px 0px 40px 0px;
}

.eaten-date{
	margin: 10px 0px 5px 20px;
}

.image-container{
	float:left;
	margin:10px;
}

.meal-info-container{
	float:left;
	margin:10px;
}

.clicked {
	width:400px;
	height:400px;
	-webkit-transition: all .5s linear;
}

#backdrop{
	position: fixed;
	height:800px;
	width:100%;
	background-color: rgba(238,238,238,.7);
	z-index: 1;
}

#meal_heading {

}

#to_edit_meal {
	width: 500px;
	margin: 50px auto;
	background-color: white;
	padding: 10px;
	overflow-y: auto;
	z-index: 2;
	box-shadow: 1px 2px 15px gray;
}

#meal_heading {
	overflow-y: auto; 
}

#meal_heading img{
	float: left;
	margin: 10px;
}

#meal_heading_info {
	overflow-y: auto;
	float: left;
	margin: 10px;
}

#meal_heading_info h2{
	margin: 5px 0px 0px 0px;
	font-size:25px;
	width: 170px;
}

#meal_heading_info h3{
	margin: 0px 0px 10px 0px;
	font-size: 12px;
	color: gray;
	display: inline-block;
	overflow-y: auto; 	
}

#meal_heading_edit {
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-pack: start;
	-mox-box-pack: start;
	-webkit-box-align: start;
	-moz-box-align: start;
	padding: 5px;
}

#meal_heading_info_edit {
/*	display: -webkit-box;
	display: -moz-box;
	-webkit-box-pack: start;
	-mox-box-pack: start;
	-webkit-box-align: center;
	-moz-box-align: center;	*/
}

.new-meal-name-container {
	margin-left : 10px;
}

#meal_heading_edit img {
	width: 175px;
}

#meal_heading_info_edit h2{
	margin: 0px 0px 0px 10px;
	overflow-y: auto; 	
}

#meal_heading_info_edit h3, #new_meal_meal_container {
	margin: 0px 0px 0px 10px;
	font-size: 12px;
	color: gray;
	display: inline-block;
	overflow-y: auto; 	
}

#location_container {
	margin: 10px 0px;
}

#nutrition_facts {
	float: left;
	width: 235px;
	border: 1px solid black;
	margin-right: 7px;
}

#nutrition_facts table td {
	width: 100%;
}

.nf-primary {
	font-size: 12px;
}

.nf-secondary {
	font-size: 11px;
	padding-left: 10px;
}

.nf-tertiary {
	font-size: 10px
}

.bold {
	font-weight: bold;
}

.not-bold {
	font-weight: normal;
}

.dv {
	float: right;
}

.tenpx-border td {
	border-bottom:10px solid black;
}

.fivepx-border td {
	border-bottom:5px solid black;
}

.onepx-border td {
	border-bottom: 1px solid black;
}

#perc_dv, #cals_from_fat {
	float: right;
}

#cals {
	float: left;
}

#ingredients {
	float: left;
	width: 256px;
}

#ingredients input {
	width: 196px;
}

#ingredients button {
	width : 50px;
}

#ingredients select {
	width: 200px;
}

#nutrition_facts h3, h5, table{
	margin: 0px 5px;
}

/************ SIGNUP ****************/

#content_container {
	position: relative;
	margin: 4% 3% 0% 3%;
	height: 640px;
}

.test-div {
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: white;
	opacity: 0;
}

.exploration-heading{
	position: relative;
	color: #333;
	background-color: #eee;
	margin: 0px;
	padding: 5px 10px;
	font-size: 14px;
	font-weight: bold;	
	/*display: none;*/
	display: inline-block;
	-webkit-transition: all 500ms ease-in;
}

#content_container .expanded{
	-webkit-transform : translate3d(0px, 0px, 0px);
	-webkit-transition: all 100ms ease-out;
	height: 100%;
	width: 100%;
}

.grid-12 {
	width: 96%;
}
.grid-11 {
	width: 88%;
}
.grid-10 {
	width: 80%;
}
.grid-9 {
	width: 72%;
}
.grid-8 {
	width: 64%;
}
.grid-7 {
	width: 56%;
}
.grid-6 {
	width: 48%;
}
.grid-5 {
	width: 40%;
}
.grid-4 {
	width: 32%;
}
.grid-3 {
	width: 24%;
}
.grid-2 {
	width: 16%;
}
.grid-1 {
	width: 8%;
}

.row-1 {
	height: 100px;
}
.row-2 {
	height: 200px;
	-webkit-transition: all 200ms ease-in;
}
.row-3 {
	height: 300px;
	-webkit-transition: all 600ms ease-in;
}
.row-4 {
	height: 400px;
	-webkit-transition: all 1000ms ease-in;
}
.row-5 {
	height: 500px;
}

.col{
	float: left
}

.chart-1 {
	-webkit-transform : translate3d(0px, 0px, 0px);
}

.chart-2 {
	-webkit-transform : translate3d(0px, 320px, 0px);
}

.chart-3 {
	-webkit-transform : translate3d(340px, 0px, 0px);
}

.chart-4 {
	-webkit-transform : translate3d(340px, 420px, 0px);
}

.chart-5 {
	-webkit-transform : translate3d(900px, 0px, 0px);	
}

.chart-6 {
	-webkit-transform : translate3d(790px, 420px, 0px);
}

.chart-7 {
	-webkit-transform : translate3d(900px, 320px, 0px);
	height: 80px;
}

.chart-7 div {
	display: inline-block;
	width: 24%;
	text-align: center;
}

/*
col translation values:
1 col : ; ; 2 col : ; ; 3 col : 340px;
4 col : 5 col : 6 col : ;
7 col : 790px; 8 col: 900px; 9 col : ;
10 col : ; 11 col : ; 12 col: ;
*/

/* 
row translation values:
1 row: ;
2 row: ;
3 row: 320px;
4 row: 420px;
5 row: ;
6 row: ;

*/

/*   LINE CHART */

.title {
	font-size: 20px;
	/*font-weight: bold*/
}

.label {
	font-weight: bold
}

/* MAP */
#map {
	height: 255px;
	margin: 10px
}

/* PROFILE */

#col_1 {
	margin-left: 6.5%;
}

#col_1, #col_2 {
	float: left;
	height: 100%;
}

#profile {
	width: 100%;
	height: 100%;
}

#col_1 div, #col_2 div {
	background-color: white;
	margin: 15px 15px 15px 0px;
	opacity: 0;
	-webkit-transition: all 250ms ease-in;
}

#col_1 .row-2 {
	height: 185px;
}

#col_2 .adj {
	display: inline-block;
	margin: 0px;
}

.adj p {
	padding: 20px;
	margin: 0px;
}

#profile_content{
	height: 536px;
}

#col_2 .adj .active-adj{
	background-color: hsl(236, 93%, 66%);
	color: white;
}

/**/

.signup-container {
	position: relative;
	top: 150px;
	margin: 0px auto;
	padding: 20px;
}

.major text {
	font-size: 12px;
	color: gray;
}

.signup-container #greeting p { 
	font-size: 80px;
	font-weight: bold;
	margin: 10px 0px
}

.signup {
	position: relative;
	width:260px;
	height: 70px;
	border: 0px;
	padding-left: 10px;
	margin-right: 15px;
	font-size: 40px
}

.accept {
	position:relative;
	top: -800px;
	-webkit-transition: all 500ms cubic-bezier(0.795, -0.600, 0.515, 1.335);
}

.transition-out {
	position:relative;
	top: -800px;
	-webkit-transition: all .5s ease-in;
}

#instructions {
	position: relative;
	margin: 40px 0px;
	width: 55%;
	padding: 0px 20px;
	-webkit-transition: all 250ms cubic-bezier(0.175, 0.885, 0.320, 1.275);
}

#instructions p {
	font-size: 60px;
	font-weight: bold;
	margin: 0px
}

.hidden-top {
	top: -100px;
}

#adjective_container {
	position: relative;
	height: 400px;
	margin: 0px;
	-webkit-transition: all 500ms cubic-bezier(0.000, 0.825, 0.660, 1.095);
}

.adjective {
	font-size: 40px;
	background-color: white;
	padding: 20px;
	-webkit-transition: all 750ms cubic-bezier(0.215, 0.610, 0.000, 0.975);
}

.adjective:hover {
	cursor: pointer;
}

.adjective-wrap {
	height: 88px;
	margin: 0px 20px;
	-webkit-transition: all 500ms cubic-bezier(0.215, 0.610, 0.000, 0.975);
	transform-style: preserve-3d;
}

.adjective-specifics {
	display: none;
	height: 300px;
	background-color: white;
}

#three {
	color: hsl(236, 93%, 66%);
}

.chosen-adj .adjective{
	/*hsl(391, 93%, 56%)*/
	background-color: hsl(236, 93%, 66%);
	color: white;
}

.hidden-left {
	margin-left: -1300px;
	-webkit-transition: all 500ms cubic-bezier(0.795, -0.600, 0.515, 1.335);
}

.enlarged {
	width: 400px;
	margin-right: 80px;
	text-align: center;
	-webkit-transition: all 700ms ease-in;
}

circle {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

line {
	stroke : gray;
	stroke-width : 1px;
	opacity : .3;
}

rect {
	stroke : gray;
	stroke-width : .5px;
	fill-opacity : 1;
}

#chart_container{
	position: fixed;
}

#query_container {
	position: fixed;
	top: 120px;
	left: 0px;
	width: 400px;
	background-color: rgba(255,255,255,.7);
	border: 1px solid white;
	box-shadow: 0px 2px 10px gray;
}

.category {
	display: inline-block;
	padding: 5px;
	border: 1px solid #BBB;
}

#category_container {
	margin: 15px
}

#range {
	margin: 15px;
	text-align: center;
	border: 1px solid #BBB;
	padding: 10px;
}

#date_range {
	text-align: left;
	margin-bottom: 10px
}

.q {
	display: inline-block;
	padding: 10px;
	border: 1px solid #BBB;
	margin: 0px 0px 10px 15px
}

#range p {
	margin: 5px 0px 10px 0px;
}

.chosen, .chosen-attribute{
	background-color: rgba(0,0,0,.4);
	color: white;
}

#query_container h2 {
	font-size: 28px;
	font-weight: normal;
	margin: 10px 20px 5px 20px;
	letter-spacing: -2
}

#record_attributes {
/*	display: -webkit-box;
	display: -moz-box;
	-webkit-box-pack: center;
	-mox-box-pack: center;
	-webkit-box-align: center;
	-moz-box-align: center;
	-webkit-flex-flow: column wrap;*/
	width: 370px;
	margin: 0px auto;
}

.record-attribute {
	display: inline-block;
	padding: 5px;
	margin: 5px 2px;
	border: 1px solid gray;
	font-size: 10px
}

.query-collection {
	display: inline-block;
	margin: 10px;
	background-color: steelblue;
	padding: 10px;
	width: 120px;
}

.query-collection .collection-category{
	text-align: center;
	font-weight: bold;
	margin-bottom: 10px;
	color: white;
}

.rec {
	font-size: 18px
}

.inner-collection-wrapper .record-count {
	color: black;
	width: 94%;
	height: 80px;
	background-color: white;
	font-size: 25px;
	margin: 0px auto;
	text-align: center;
}

.inner-collection-wrapper .collection-dates div {
	font-size:10px;
	display: inline-block;
}

#chart_type_container {
	position: fixed;
	top: 20%;
	left: 50%;
	width: 680px;
	text-align: center;
	margin-left: -235px
}

.chart-type-container {
	display: inline-block;
	width: 200px;
	height: 200px;
	margin: 20px 0px 0px 20px; 
	/*background-color: rgba(255,255,255,.8);*/
	border: 1px solid gray;
}

.chart-type-container-hover {
	border: 1px solid white;
}

.line-chart-container, .histogram-container {
	left: 50%;
	/*top: 50%;*/
	width: 600px;
	height: 300px;
	background-color: white;
	padding: 15px;
	box-shadow: 0px 2px 8px gray;
	display: inline-block;
}

.pie-chart-container {
	width: 300px;
	height: 400px;
	background-color: white;
	padding: 15px;
	box-shadow: 0px 2px 8px gray;
	display: inline-block;	
}

path {
	fill: none;
	stroke: black;
}

.line {
    fill: none;
    stroke: steelblue;
}

.histogram-container rect {
	fill : steelblue;
	stroke: white;
	fill-opacity : 1;	
}

.destroy {
	display: inline-block;
	font-size: 18px;
	font-weight: bold;

}

.data-source {
	background-color: rgb(200,200,200);
	color: white;
}
