p {
	font-size: 20px;
}

#meals_container {
	position: relative;
	width: 1210px;
	height:100%;
	padding:30px;
	overflow-y: auto;	
	margin: 0px auto	;
}

.meal-container {
	overflow-y: auto; 
	margin:10px;
	padding:10px;
	float:left;
	background-color:rgba(255,255,255,.6);
	box-shadow: rgba(0, 0, 0, 0.2) 0 2px 6px 0;
	border:1px solid white;
	-webkit-transition: all .5s linear;
	min-width:360px;
	min-height:150px;
}

.meal-container h2 {
	margin: 5px 0px 0px 0px;
	font-size:25px;
	width: 170px;
}

.meal-container h3 {
	margin: 0px 0px 10px 0px;
	font-size: 12px;
	color: gray;
	display: inline-block;
	overflow-y: auto; 
}

.new-meal-name-input {
	height: 20px;
	margin: 5px 0px
}

.day{
	width: 100%;
	overflow-y: auto;
	margin: 0px 0px 40px 0px;
}

.eaten-date{
	margin: 10px 0px 5px 20px;
}

.image-container{
	float:left;
	margin:10px;
}

.meal-info-container{
	float:left;
	margin:10px;
}

.clicked {
	width:400px;
	height:400px;
	-webkit-transition: all .5s linear;
}

#backdrop{
	position: fixed;
	height:800px;
	width:100%;
	background-color: rgba(238,238,238,.7);
	z-index: 1;
}

#meal_heading {

}

#to_edit_meal {
	width: 500px;
	margin: 50px auto;
	background-color: white;
	padding: 10px;
	overflow-y: auto;
	z-index: 2;
	box-shadow: 1px 2px 15px gray;
}

#meal_heading {
	overflow-y: auto; 
}

#meal_heading img{
	float: left;
	margin: 10px;
}

#meal_heading_info {
	overflow-y: auto;
	float: left;
	margin: 10px;
}

#meal_heading_info h2{
	margin: 5px 0px 0px 0px;
	font-size:25px;
	width: 170px;
}

#meal_heading_info h3{
	margin: 0px 0px 10px 0px;
	font-size: 12px;
	color: gray;
	display: inline-block;
	overflow-y: auto; 	
}

#meal_heading_edit {
	display: -webkit-box;
	display: -moz-box;
	-webkit-box-pack: start;
	-mox-box-pack: start;
	-webkit-box-align: start;
	-moz-box-align: start;
	padding: 5px;
}

#meal_heading_info_edit {
/*	display: -webkit-box;
	display: -moz-box;
	-webkit-box-pack: start;
	-mox-box-pack: start;
	-webkit-box-align: center;
	-moz-box-align: center;	*/
}

.new-meal-name-container {
	margin-left : 10px;
}

#meal_heading_edit img {
	width: 175px;
}

#meal_heading_info_edit h2{
	margin: 0px 0px 0px 10px;
	overflow-y: auto; 	
}

#meal_heading_info_edit h3, #new_meal_meal_container {
	margin: 0px 0px 0px 10px;
	font-size: 12px;
	color: gray;
	display: inline-block;
	overflow-y: auto; 	
}

#location_container {
	margin: 10px 0px;
}

#nutrition_facts {
	float: left;
	width: 235px;
	border: 1px solid black;
	margin-right: 7px;
}

#nutrition_facts table td {
	width: 100%;
}

.nf-primary {
	font-size: 12px;
}

.nf-secondary {
	font-size: 11px;
	padding-left: 10px;
}

.nf-tertiary {
	font-size: 10px
}

.bold {
	font-weight: bold;
}

.not-bold {
	font-weight: normal;
}

.dv {
	float: right;
}

.tenpx-border td {
	border-bottom:10px solid black;
}

.fivepx-border td {
	border-bottom:5px solid black;
}

.onepx-border td {
	border-bottom: 1px solid black;
}

#perc_dv, #cals_from_fat {
	float: right;
}

#cals {
	float: left;
}

#ingredients {
	float: left;
	width: 256px;
}

#ingredients input {
	width: 196px;
}

#ingredients button {
	width : 50px;
}

#ingredients select {
	width: 200px;
}

#nutrition_facts h3, h5, table{
	margin: 0px 5px;
}

.signup_container {
	width: 595px;
	margin: 300px auto;
	padding: 20px;
	box-shadow: 0px 2px 10px gray;
	background-color: rgba(255, 255, 255, .4);
	border: 1px solid white;
}

.signup {
	position: relative;
	width:220px;
	height: 50px;
	border: 0px;
	padding-left: 10px;
	margin-right: 15px;
}

.transition-out {
	position:relative;
	top: -800px;
	-webkit-transition: all .5s ease-in;
}

circle {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

line {
	stroke : gray;
	stroke-width : 1px;
	opacity : .3;
}

rect {
	stroke : gray;
	stroke-width : .5px;
	fill-opacity : 0;
}


