<!DOCTYPE html> 
<html>
	<head>

		<title>Phronesis</title>

		<!-- META -->
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="{{ static_url("css/style.css") }}"/>
		<link rel="stylesheet" type="text/css" href="{{ static_url("css/presentation.css") }}"/>
		<link rel="stylesheet" type="text/css" href="{{ static_url("css/colorbrewer.css") }}"/>
		<link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css"/>	

		<!-- JS -->
		<script type="text/javascript" src="{{ static_url("js/helpers/helpers.js") }}"></script>

		<script type="text/javascript" src="{{ static_url("js/vendor/jquery.js") }}"></script>
		<script type="text/javascript" src="http://code.jquery.com/ui/1.10.2/jquery-ui.js"></script>
		<!--<script type="text/javascript" src="{{ static_url("js/vendor/jquery-ui.js") }}"></script>-->
		<script type="text/javascript" src="{{ static_url("js/vendor/Highcharts-2.3.5/js/highcharts.js") }}"></script>
		<script type="text/javascript" src="{{ static_url("js/vendor/underscore.js") }}"></script>
		<script type="text/javascript" src="{{ static_url("js/vendor/handlebars.js") }}"></script>
		<script type="text/javascript" src="{{ static_url("js/vendor/backbone.js") }}"></script>
		<script type="text/javascript" src="{{ static_url("js/vendor/jstat.js") }}"></script>
		<script type="text/javascript" src="{{ static_url("js/vendor/colorbrewer.js") }}"></script>
		<script type="text/javascript" src="{{ static_url("js/vendor/jquery.isotope.min.js") }}"></script>
		<script src="http://d3js.org/d3.v3.min.js"></script>

		<!-- <script type="text/javascript" src="{{ static_url("js/vendor/date.js") }}"></script> -->
		<script type="text/javascript" src="{{ static_url("js/charts/line.js") }}"></script>
		<script type="text/javascript" src="{{ static_url("js/models/meal.js") }}"></script>
		<script type="text/javascript" src="{{ static_url("js/views/nutrition.js") }}"></script>
		<script type="text/javascript" src="{{ static_url("js/views/landingpage.js") }}"></script>
		<script type="text/javascript" src="{{ static_url("js/views/query.js") }}"></script>
		<script type="text/javascript" src="{{ static_url("js/views/lineChart.js") }}"></script>
		<script type="text/javascript" src="{{ static_url("js/views/histogram.js") }}"></script>
		<script type="text/javascript" src="{{ static_url("js/views/pieChart.js") }}"></script>
		<script type="text/javascript" src="{{ static_url("js/views/define.js") }}"></script>
		<script type="text/javascript" src="{{ static_url("js/views/signup.js") }}"></script>

		<script type="text/javascript" src="{{ static_url("js/main.js") }}"></script>

		<script type="text/javascript" src="{{ static_url("js/vendor/three.min.js") }}"></script>
		<script type="text/javascript" src="{{ static_url("js/vendor/tween.min.js") }}" ></script>
		<script type="text/javascript" src="{{ static_url("js/vendor/TrackballControls.js") }}"></script>
		<script type="text/javascript" src="{{ static_url("js/vendor/CSS3DRenderer.js") }}"></script>

		<!--<script type="text/javascript"src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>-->

	</head>
	<body>
		<div id="content_container"></div>
		{% block content %}
		{% end %}
	</body>
</html>