<!DOCTYPE html> 
<html>
	<head>
		
		<title>Phronesis</title>

		<!-- META -->

		<!-- CSS -->
		<link rel="stylesheet" type="text/css" href="{{ static_url("css/style.css") }}"/>
		<link rel="stylesheet" type="text/css" href="{{ static_url("css/presentation.css") }}"/>
		
		<!-- JS -->		
		<script type="text/javascript" src="{{ static_url("js/vendor/jquery.js") }}"></script>
		<script type="text/javascript" src="{{ static_url("js/vendor/jquery-ui.js") }}"></script>
		<script type="text/javascript" src="{{ static_url("js/vendor/Highcharts-2.3.5/js/highcharts.js") }}"></script>
		<script type="text/javascript" src="{{ static_url("js/vendor/underscore.js") }}"></script>
		<script type="text/javascript" src="{{ static_url("js/vendor/handlebars.js") }}"></script>
		<script type="text/javascript" src="{{ static_url("js/vendor/backbone.js") }}"></script>
		<script type="text/javascript" src="{{ static_url("js/vendor/date.js") }}"></script>
		<script type="text/javascript" src="{{ static_url("js/charts/line.js") }}"></script>
		<script type="text/javascript" src="{{ static_url("js/app.js") }}"></script>
		<script type="text/javascript"src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>

	</head>
	<body>
		{% block content %}{% end %}
	</body>
</html>