{% extends "base.html" %}
{% block content %}
<div id="chart_container">
	<div  class="normal chart" id="map">
	</div>

	<div class="normal chart" id="timeseries">
	</div>
</div>
<div id="query_container">
	<ul id="attributes_list">
		<li class="attribute active" id="sleep">sleep</li>
		<li class="attribute" id="nutrition">nutrition</li>
		<li class="attribute" id="physicalActivity">physical activity</li>
		<li class="attribute" id ="location">location</li>
	</ul>
	<div style="clear: both;"></div>
	<div id="button_container">
		<div class="chart-button" id="map_button">Map</div>
		<div class="chart-button" id="timeseries_button">Timeseries</div>
	</div>
	<div id="domain_attributes">
		<p>Filters <span id="add_attribute">add filter</span></p>
	</div>
	<div id="query"></div>
	<div id="go">GO!</div>
</div>

{% end %}