<script id="add_initial_trackers_view" type="x-handlebars-template">
		<div id="instructions" class="hidden-top">
		<p>Connect any <span id="three">data</span> you're currently tracking</p>
	</div>
	<div id="tracker_container">
		{{#each tracker}}
			<div class="tracker-wrap">
				<div class="tracker">{{ name }}</div>
			</div>
		{{/each}}		
	</div>
</script>