<script id="add_spatial_triggers" type="x-handlebars-template">
	<div class="trigger-container" id="spatial_triggers">
		<div id="spatial_trigger_control_container">
			<div id="add_trigger_map_thing"></div>
			<h4>Add Triggers</h4>
			<div id="trigger_distance" class="trigger-input-wrap">
				<p>When I'm</p>
				<input type="text" class="trigger-input" default="distance (miles)">
			</div>
			<div id="trigger_location" class="trigger-input-wrap">
				<p>from</p>
				<input type="text" class="trigger-input" default="location (search location or click map)">
			</div>
			<div id="add_trigger_text" class="trigger-input-wrap">
				<p>remind me to</p>
				<textarea rows="5" cols="30">remind yourself</textarea>
			</div>
			<div>
				<button id="new_trigger_submit">Add Trigger</button>
			</div>
		</div>
	</div>
</script>