<script id="current_status" type="x-handlebars-template">
	<div id="count_container">
		<h2>Minutes Highly Active</h2>
		<p>{{mins_highly_active}}</p>
	</div>
	<div id="vis_container"></div>
</script>