<script id="current_status" type="x-handlebars-template">
	<div id="count_container">
		<h3>{{ heading }}</h3>
		<p id="current_status_p">{{round2 mean}}</p>
	</div>
	<div class="vis-container"></div>
</script>