<script id="current_status" type="x-handlebars-template">
	<div id="count_container">
		<h3>{{ heading }}</h3>
		<p id="current_status_p">{{round2 mean}}</p>
		<p id="current_goal_p">{{checkGoal mean heading goal }}</p>
	</div>
	<div class="vis-container"></div>
</script>