<script id="data_attribute_partial" type="x-handlebars-template">
	<li class="attribute-container">
		<p class="attribute-name">{{ attribute_name }}</p><p class="remove-attribute">X</p>
	</li>
</script>