<script id="define_view" type="x-handlebars-template">
	<div id="instructions" class="hidden-top">
		<p>Choose <span id="three">top three</span> adjectives you wish you embodied</p>
	</div>
	<div id="adjective_container">
		{{#each adjectives}}
			<div class="adjective-wrap">
				<div class="adjective">{{ name }}</div>
				<div class="adjective-specifics">
					{{#each attributes}}
						<div class="adjective-attribute">{{ this }}</div>
					{{/each}}
				</div>
			</div>
		{{/each}}
	</div>
</script>