<script id="define_view_trait_specifics" type="x-handlebars-template">
	<ul id="specifics_list">
		{{#each specifics}}
			<li id="{{ this.[1] }}" class="expanded-trait-specific">{{ this.[1] }}</li>
		{{/each}}
	</ul>
</script>