<script id="define_view" type="x-handlebars-template">
	<div id="instructions" class="hidden-top">
		<p>Choose <span id="three">three</span> adjectives you wish you embodied</p>
	</div>
	<div id="adjective_specifics"></div>
	<div id="adjective_container">
		{{#each adjectives}}
			<div class="adjective-wrap">
				<div class="adjective">{{ name }}</div>
			</div>
		{{/each}}		
	</div>


</script>