<script id="descriptive_stats_view" type="x-handlebars-template">
	<div id="range">
		<div id="min">
			<h5>max</h5>
			<p>30</p>
			<p></p>
		</div>
		<div id="max">
			<h5>min</h5>
			<p>50</p>
			<p></p>
		</div>
		<div id="median">
			<h5>median</h5>
			<p>18</p>
		</div>
		<div id="mode">
			<h5>mode</h5>
			<p>15</p>
		</div>
		<div id="sd">		
			<h5>standard deviation</h5>
			<p>4.5</p>
		</div>
	</div>
	<div id="mean">
		<h5>mean</h5>
		<p>20</p>
	</div>
</script>