<script id="grid_view" type="x-text-handlebars">
	<div id="spatial_vew" class="test-div row-3 grid-3 chart-1">
		<p class="exploration-heading accent-1">Space</p>
		<div id="map"></div>
	</div>
	<div id="descriptive_stats_view" class="test-div row-3 grid-3 chart-2 descriptive-stats">
		<p class="exploration-heading accent-1">Descriptive Statistics</p>
	</div>

	<div id="temporal_view" class="test-div row-4 grid-5 chart-3 line-chart">
		<p class="exploration-heading accent-1">Time</p>
	</div>
	<div id="distribution_view" class="test-div row-2 grid-4 chart-4 histogram">
		<p class="exploration-heading accent-1">Distribution</p>
	</div>

	<div id="two_variables_view" class="test-div row-4 grid-4 chart-5 scatter-plot">
		<p class="exploration-heading accent-1">Two Variables</p>
	</div>
	<div id="subset_view" class="test-div row-2 grid-5 chart-6 subsets">
		<p class="exploration-heading accent-1">Subsets</p>
	</div>
</script>