<script id="grid_view" type="x-text-handlebars">
	<div class="test-div row-3 grid-3 chart-1">
		<p class="exploration-heading">Space</p>
		<div id="map"></div>
	</div>
	<div class="test-div row-3 grid-3 chart-2">
		<p class="exploration-heading">Descriptive Statistics</p>
	</div>

	<div class="test-div row-4 grid-5 chart-3 line-chart">
		<p class="exploration-heading">Time</p>
	</div>
	<div class="test-div row-2 grid-4 chart-4 histogram">
		<p class="exploration-heading">Distribution</p>
	</div>

	<div class="test-div row-4 grid-4 chart-5 scatter-plot">
		<p class="exploration-heading">Two Variables</p>
	</div>
	<div class="test-div row-2 grid-5 chart-6">
		<p class="exploration-heading">Subsets</p>
	</div>
</script>