<script id="how_view" type="x-handlebars-template">
	<div id="action_container">
		{{#each actions}}
			<div class="action-wrap">
				<div id="{{ this }}" class="action">{{ this }}</div>
			</div>
		{{/each}}		
	</div>
</script>