<script id="how_adjective_view" type="x-handlebars-template">
	<div id="how_content">
		<div class="col-1 grid-3">
			<div class="row-6 how-rect" id="action_container">
				<p class="how-heading accent-1">Recommended Habits</p>
				<div id="action_list"></div>
			</div>
		</div>
		<div class="col-2 grid-6">
			<div class="how-rect row-3" id="where_am_i">
				<p class="how-heading accent-1">Current Status</p>
			</div>
			<div class="how-rect row-3" id="how_do_i_get_there">
				<p class="how-heading accent-1">Actions to Take</p>
			</div>
		</div>
		<div class="col-3 grid-3">
			<div class="how-rect row-6" id="triggers">
				<p id="triggers_heading" class="how-heading accent-1">Triggers</p>
			</div>
		</div>
	</div>
</script>