<script id="how_adjective_partial" type="x-handlebars-template">
	<div>
		<h2>{{actions_heading}}</h2>
	</div>
	{{#each habits}}
		<div class="action-wrap">
			<div id="{{ rec_habit_key }}" class="action">{{ rec_habit }}</div>
		</div>
	{{/each}}
</script>