<script id="impact_controls" type="x-handlebars-template">
	<div id="impact_controls_container">
		<h3>Generalize Your Behavior</h3>
		<div>
			<p>If everyone</p>
			<select id="comparison_group_drop">
				<option id="city">in my city</option>
				<option id="state">in my state</option>
				<option id="country">in my country</option>
				<option id="hemisphere">in my hemisphere</option>
				<option id="world">the world</option>
			</select>
			<p>had the same</p>
			<select id="metric_drop">
				<option id="carbon">carbon footprint</option>
				<option id="energy">energy usage</option>
				<option id="waste">levels of waste</option>
			</select>
			<p>as me</p>
		</div>
	</div>
</script>