<script id="landingpage" type="text/x-handlebars-template">
	<div class="signup-container grid-6">
		<div id="greeting">
			<p>hello.</p>
		</div>
		<div>	
			<input id="username" class="signup" type="text" placeholder="email"></input>
			<input id="password" class="signup" type="password" placeholder="password"></input>
			<button id="signup_button" type="submit">GO!</buttom>
		</div>
	</div>
</script>