<script id="landingpage" type="text/x-handlebars-template">
	<div class="signup_container">
		<input class="signup" type="text" placeholder="email"></input>
		<input class="signup" type="password" placeholder="password"></input>
		<button id="signup_button" type="submit">GO!</buttom>
	</div>
</script>