<script id="line_chart" type="x-handlebars-template">
	<div class="destroy">X</div>
	<div id="attribtes">
		{{#each attribute}}
			<div id="{{this.id}}" class="record-attribute">{{this.title}}</div>
		{{/each}}
	</div> 
	<div class="vis-container"></div>
</script>