<script id="meal_name_partial" type="text/x-handlebars-template">
<div class="new-meal-name-container">
	<input class="new-meal-name-input" type="text" placeholder="{{placeholder}}"/>
	<button class="new-meal-name-submit" type="submit" name="submit">go</submit>
</div>
</script>