<script id="query_view" type="text/x-handlebars-template">
<div id="meals_container">
	{{#each day}}
	<div class="day">
	<h1 class="eaten-date">{{date}}</h1>
		{{#each meal}}
		<div class="meal-container">
			<div class="image-container"> 
				<img src="{{img_url}}"/>
			</div>
			<div class="meal-info-container">
				<h2>{{meal_item_name}}</h2>
				<h3>{{#formatTime}}{{flkr_dates.taken}}{{/formatTime}}</h3>
			</div>
		</div>
		{{/each}}
	</div>
	{{/each}}
</div>
</script>