<script id="profile_view" type="x-handlebars-template">
	<div id="profile_container">
		<div id="col_1" class="grid-3">
			<div id="profile_pic" class="col-1 row-3">
				<img src="{{foursquare_user_info.foursquare_user_photo}}"/>
			</div>
			<div class="col-1 row-1">
				<p>{{facebook_user_info.facebook_name}}</p>
				<p>{{foursquare_user_info.foursquare_home_city}}</p>
			</div>
			<div class="col-1 row-2"></div>			
		</div>
		<div id="col_2" class="grid-8">
			<div id="adj_container" class="col-2">
				<div id="adj_1" class="adj">
					<p class="active-adj">Add Data Sources</p>
				</div>
				<div id="adj_2" class="adj">
					<p>Clean Data</p>
				</div>
				<div id="adj_3" class="adj">
					<p>Current Status</p>
				</div>
			</div>
			<div id="profile_content" class="col-2 row-5"></div>
		</div>
	</div>
</script>