<script id="query_collection" type="text/x-handlebars-template">
	<div class="query-collection">
		<div class="collection-category">{{ category }}</div>
		<div class="inner-collection-wrapper">		
			<div class="record-count">
				{{ recordCount }} 
				<span class="rec">records</span>
			</div>
			<div class="collection-dates">
				<div>{{startDate}}</div>
				<div>{{endDate}}</div>
			</div>
		</div>
	</div>
</script>