<div>
	<select>
		<option>pizza</option>
	</select>
	<input type="text" name="query_text" id="query_text"/>
	<select>
		<option value="ne">not equal to</option>
		<option value="lt">less than</option>
		<option value="lte">less than or equal to</option>
		<option value="gt">greater than</option>
		<option value="gte">greater than or equal to</option>
		<option value="not"> negate</option>
		<option value="in">value is in list</option>
		<option value="nin">value not in list</option>
		<option value="mod">modulo</option>
		<option value="all">every item in list of values is in array</option>
		<option value="size">the size of an array is</option>
		<option value="exists">check for field exists</option>
		<option value="exact">string exactly matches</option>
		<option value="iexact">string exactly matches (case insensitive)</option>
		<option value="contains">string contains value</option>
		<option value="icontains">sring constains value (case insensitive)</option>
		<option value="startswith">string starts with</option>
		<option value="istartswith">string starts with (insensitive)</option>
		<option value="endswith">ends with</option>
		<option value="iendswith">ends with insensitive</option>
		<option value="match">match</option>
	</select>
</select>
</div>
