<script id="temp_csd" type="x-handlebars-template">
<div id="trait_specific_info_container">
	<h2>Cardiovascular Health</h2>
	<h3>Overview</h3>
	<div id="overview_container">Cardiovascular health is super improtant gusy.  Youre yeart and veings pump all the blood that your body uses.  All of it.
	</div>
	<h3>Recommended Habits</h3>
	<div id="recommended_habits_container">
		{{#each rec_habits }}
			<div class="study-container">
				<h4>{{ rec_habit }}</h4>
			</div>
		{{/each}}
	</div>	
	<h3>Studies and Articles</h3>
	<div id="cardio_studies_container">
		{{#each studies}}
			<div class="study-container">
				<img class="study-img" src="/static/img/document.png" />
				<h4><a href="{{this.study_link}}" target="_blank"> {{ this.study_title}}</a></h4>
			</div>
		{{/each}}
	</div>
</div>
</script>