<script id="timeseries_view" type="x-handlebars-template">
	<div id="timeseries_content_container">
		<div id="vis_container">
			<p>Create Query Set to View Chart</p>
		</div>
		<div id="controls_container">
			<div id="chart_kind_container">
				<h3>Chart Type</h3>
				<ul id="chart_type_list">
					<li id="line_chart" class="chart-type">Line</li>
					<li id="area_chart" class="chart-type">Area</li>
					<li id="stream_chart" class="chart-type">Stream</li>
					<li id="small_multiple_chart" class="chart-type">Small Multiples</li>
				</ul>
			</div>
			<div id="data_type_container">
				<h3>Data Type</h3>
				<ul id="data_type_list">
					<li id="physicalActivity"class="data-type">Physical Activity</li>
					<li id="nutrition" class="data-type">Nutrition</li>
					<li id="sleep" class="data-type">Sleep</li>
					<li id="location" class="data-type">Location</li>				
				</ul>
			</div>
			<div id="attributes_container">
				<h3>Attributes</h3>
				<select id="attribute_drop"></select>
				<button id="add_attribute">Add Attribute</button>
				<ul id="attribute_list">
				</ul>
			</div>
		</div>
	</div>
</script>