<script id="trait_specifics_popup" type="x-handlebars-specific">
	<div id="trait_specifics_container">
		{{#each specifics}}
			<div id="{{ trait_specific }}" class="trait-specific">{{ heading }}</div>
		{{/each}}
	</div>
</script>