<script id="what_view" type="x-handlebars-template">
	<div id="instructions" class="hidden-top">
		<p><span id="three">What</span> type of person do you want to be?</p>
	</div>
	<div id="adjective_specifics"></div>
	<div id="adjective_container">
		{{#each adjectives}}
			<div class="adjective-wrap">
				<div class="adjective">{{ name }}</div>
			</div>
		{{/each}}		
	</div>
</script>